.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-asterisk {
	width: 0.9285714285714285em;
}

.icon-plus {
	width: 0.7857142857142857em;
}

.icon-question {
	width: 0.62em;
}

.icon-minus {
	width: 0.7857142857142857em;
}

.icon-search {
	width: 0.9285714285714285em;
}

.icon-star {
	width: 0.9285714285714285em;
}

.icon-star-o {
	width: 0.9285714285714285em;
}

.icon-user {
	width: 0.7142857142857142em;
}

.icon-close {
	width: 0.7857142857142857em;
}

.icon-cog {
	width: 0.8571428571428571em;
}

.icon-trash-o {
	width: 0.7857142857142857em;
}

.icon-home {
	width: 0.9285714285714285em;
}

.icon-play-circle-o {
	width: 0.8571428571428571em;
}

.icon-map-marker {
	width: 0.5714285714285714em;
}

.icon-chevron-left {
	width: 0.75em;
}

.icon-chevron-right {
	width: 0.6785714285714285em;
}

.icon-exclamation-circle {
	width: 0.8571428571428571em;
}

.icon-twitter-square {
	width: 0.8571428571428571em;
}

.icon-facebook-square {
	width: 0.8571428571428571em;
}

.icon-linkedin-square {
	width: 0.8571428571428571em;
}

.icon-phone {
	width: 0.7857142857142857em;
}

.icon-twitter {
	width: 0.9285714285714285em;
}

.icon-facebook {
	width: 0.5881428571428571em;
}

.icon-group {
	width: 1.0714285714285714em;
}

.icon-caret-down {
	width: 0.5714285714285714em;
}

.icon-caret-up {
	width: 0.5714285714285714em;
}

.icon-caret-left {
	width: 0.39285714285714285em;
}

.icon-caret-right {
	width: 0.3214285714285714em;
}

.icon-linkedin {
	width: 0.8571428571428571em;
}

.icon-angle-double-left {
	width: 0.5892857142857143em;
}

.icon-angle-double-right {
	width: 0.5535714285714285em;
}

.icon-angle-left {
	width: 0.375em;
}

.icon-angle-right {
	width: 0.33928571428571425em;
}

.icon-angle-up {
	width: 0.6428571428571428em;
}

.icon-angle-down {
	width: 0.6428571428571428em;
}

.icon-instagram {
	width: 0.8571428571428571em;
}

.icon-ra {
	width: 0.9960714285714285em;
}

.icon-toggle-off {
	width: 1.1428571428571428em;
}

.icon-toggle-on {
	width: 1.1428571428571428em;
}

.icon-facebook-official {
	width: 0.8571428571428571em;
}

.icon-user-o {
	width: 0.8571428571428571em;
}
